@use './variables.scss' as *;

.ctn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6rem 4rem;
  background-color: $light;
}

.signupctn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.title{
  font-size: 3rem;
  font-weight: bolder;
}

.subtext1{
  font-size:1.5rem;
}

.subtext2{
  font-size:1.5rem;
  font-weight:bold;
}

.subtext3{
  font-size: 1.5rem;
  font-weight: normal;
}

.driversctn{
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100vw;
  padding: 4rem;
  margin: 2rem 0;
}

.driversheader{
  color: $primary;
  font-weight: bold;
  font-size: 2rem;
}

.cardsctn{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.card{
  display:flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.icon{
  width: 5rem;
  height: 5rem;
}

.driver{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}

.name{
  font-size: 1.1rem;
  font-weight: bold;
}

.age{
  font-size: 1rem;
  font-weight: normal;
  color: #525252
}

.formctn{
  margin-top: 2rem;
  width: 50vw;
  padding: 2rem 6rem;
  background-color: white;
  border-radius: 1rem;
  border: solid $light 2px;
  height: fit-content;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: $english-font;
}

.label{
  margin-bottom: 0.5rem !important;
}

.radioctn{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.radiobtn{
  display: flex;
  align-items: center;
  gap: 0.25rem;   
  font-size: 0.875rem;  
  font-weight: 400;  
}

.consentctn{
  padding: 1rem 2rem; 
  border-radius: 0.5rem; 
  background-color: $light;
}

.consentctn h4 {
  font-weight: 500; 
  color: $dark;
  margin-bottom: 0.5rem; 
}

.consentctn p {
  font-size: 0.875rem; 
  color: #525252; 
  margin-bottom: 1rem; 
}

.consentbox{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.formbtn{
  padding: 0.5rem 5rem;
  font-size: 1rem;
  background-color: $primary;
  color: white;
  border-radius: 3rem !important;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $primary;
    transform: scale(1.03);
  }
}

//mobile styles
@media (max-width: 640px) {
  .ctn{
    padding: 4rem 2rem;
  }

  .driversctn{
    padding: 4rem 2rem;
    margin: 2rem 0;
  }

  .cardsctn{
    grid-template-columns: 1fr;
  }

  .card{
    display:flex;
    align-items: center;
    gap: 1rem;
  }

  .formctn {
    width: 90vw;   
    padding: 1.5rem 2rem;
  }

  .title {
    font-size: 1.8rem;  
  }

  .subtext1{
    font-size:0.9rem;
  }

  .subtext2{
    font-size:0.9rem;
  }

  .subtext3{
    font-size: 0.9rem;
  }

  .formbtn {
    padding: 0.5rem 3rem;
    font-size: 0.875rem;
  }

  .consentctn {
    padding: 1rem;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .driversctn{
    padding: 4rem 1rem;
    margin: 2rem 0;
  }

  .cardsctn{
    grid-template-columns: repeat(3, 1fr);
  }

  .card{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .formctn {
    width: 70vw;   
    padding: 2rem 4rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .subtext1{
    font-size:1.5rem;
  }

  .subtext2{
    font-size:1.5rem;
  }

  .subtext3{
    font-size: 1.5rem;
  }

  .formbtn {
    padding: 0.5rem 4rem;
    font-size: 0.95rem;
  }
}