@use './variables.scss' as *;

.ctn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6rem 4rem;
  background-color: $light;
}

.signupctn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.title{
  font-family: $english-font;
  font-size: 3rem;
  font-weight: bolder;
}

.subtext2{
  font-family: $english-font;
  font-weight: bold;
}

.subtext3{
  font-weight: normal;
}

.formctn{
  margin-top: 2rem;
  width: 50vw;
  padding: 2rem 6rem;
  background-color: white;
  border-radius: 1rem;
  border: solid $light 2px;
  height: fit-content;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.label{
  margin-bottom: 0.5rem !important;
}

.radioctn{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.radiobtn{
  display: flex;
  align-items: center;
  gap: 0.25rem;   
  font-size: 0.875rem;  
  font-weight: 400;  
}

.consentctn{
  padding: 1rem 2rem; 
  border-radius: 0.5rem; 
  background-color: $light;
}

.consentctn h4 {
  font-weight: 500; 
  color: $dark;
  margin-bottom: 0.5rem; 
}

.consentctn p {
  font-size: 0.875rem; 
  color: #525252; 
  margin-bottom: 1rem; 
}

.consentbox{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.formbtn{
  padding: 0.5rem 5rem;
  font-size: 1rem;
  background-color: $primary;
  color: white;
  border-radius: 3rem !important;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $primary;
    transform: scale(1.03);
  }
}

//mobile styles
@media (max-width: 640px) {
  .ctn{
    padding: 4rem 2rem;
  }
  
  .formctn {
    width: 90vw;   
    padding: 1.5rem 2rem;
  }

  .title {
    font-size: 2rem;  
  }

  .formbtn {
    padding: 0.5rem 3rem;
    font-size: 0.875rem;
  }

  .consentctn {
    padding: 1rem;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .formctn {
    width: 70vw;   
    padding: 2rem 4rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .formbtn {
    padding: 0.5rem 4rem;
    font-size: 0.95rem;
  }
}