@use './variables.scss' as *;
@use "sass:color";


.testimonialContainer {
  position: relative;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  padding: 1.5rem 2.5rem;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 7rem;
    z-index: 5; 
    pointer-events: none; // So it doesn't block hover
  }

  &::before {
    top: 0;
    background: linear-gradient(to bottom, $background 0%, $background 30%, transparent 100%);
  }

  &::after {
    bottom: 0;
    background: linear-gradient(to top, $background 0%, $background 30%, transparent);
  }
}

.column {
  flex: 1;
  overflow: hidden;
  position: relative;
  height: 60vh;
}

.carousel {
  display: flex;
  flex-direction: column;
}

.card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 1rem;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-size: 0.9rem;
}

.name {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: $dark;
}

.job {
  font-weight: normal;
  font-size: 0.7rem;
  color: color.adjust($dark, $lightness: 40%);
}

.review {
  color: $dark;
}

// Animations
@keyframes scrollUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}

.scrollUp {
  animation: scrollUp 40s linear infinite;
}

.scrollDown {
  animation: scrollDown 40s linear infinite;
}

 @media (max-width: 750px) {
 .testimonialContainer {
    flex-direction: column;
    height: 60vh; 
  }

  .column {
    height: 60vh; 
    width: 100%;
  }
}